<h1>Welcome to Replay</h1>
<h2 class='text-green-500'>A marketplace for board games to have a second chance at play<h2>
<%= link_to "Buy", '/listings' %>
<%= link_to "Sell", '/listings/new' %>
<%= link_to "Play", '/meetups' %>